header {
	padding: 41px 71px 97px;	
}

.header-container {
	display: flex;	
	justify-content: space-between;
	margin-bottom: 38px;
	
		
}

.header-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.librari-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.logo-header {
	display: flex;
}

.header-form__input {
	width: 336px;
	height: 20px;
	border: 0;
	border-bottom: 2px solid #000;
}


















.logo-header__svg,
.header-form__svg {
	margin: 0;
	width: 24px;
	height: 24px;
  
	@media screen and (min-width: $tablet) {
	  width: 22px;
	  height: 30px;
	}
  }